<yandex>
    <max_server_memory_usage_to_ram_ratio>0.3</max_server_memory_usage_to_ram_ratio>
    <logger>
        <level>information</level>
        <console>1</console>
    </logger>
    <merge_tree>
        <enable_mixed_granularity_parts>1</enable_mixed_granularity_parts>
    </merge_tree>
</yandex>
