<yandex>
    <max_server_memory_usage_to_ram_ratio>
        <!-- This include is important!
         It is required for the version of Clickhouse
         used on ARM to read the environment variable. -->
        <include from_env="MAX_MEMORY_USAGE_RATIO"/>
    </max_server_memory_usage_to_ram_ratio>
    <logger>
        <level>information</level>
        <console>1</console>
    </logger>
    <merge_tree>
        <enable_mixed_granularity_parts>1</enable_mixed_granularity_parts>
    </merge_tree>
</yandex>
