# See docs.getsentry.com/on-premise/server for instructions

version: '2'
services:
  base:
    build: .
    restart: unless-stopped
    environment:
      # Run `docker-compose run web config generate-secret-key`
      # to get the SENTRY_SECRE_KEY value.
      # SENTRY_SECRET_KEY: ''
      SENTRY_MEMCACHED_HOST: memcached
      SENTRY_REDIS_HOST: redis
      SENTRY_POSTGRES_HOST: postgres
    volumes:
      - ./data:/var/lib/sentry/files

  memcached:
    image: memcached:1.4
    restart: unless-stopped

  redis:
    image: redis:3.0-alpine
    restart: unless-stopped

  postgres:
    image: postgres:9.5
    restart: unless-stopped

  web:
    extends: base
    restart: unless-stopped
    links:
      - redis
      - postgres
      - memcached
    ports:
      - '9000:9000'

  cron:
    extends: base
    command: celery beat
    restart: unless-stopped
    links:
      - redis
      - postgres
      - memcached

  worker:
    extends: base
    command: celery worker
    restart: unless-stopped
    links:
      - redis
      - postgres
      - memcached
