commands:
  setvars:
    command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/local.sh
  01clear-if-unmounted:
    command: if ! mount | grep /var/lib/docker/volumes/sentry-clickhouse > /dev/null; then rm -rf /var/lib/docker/volumes/sentry-clickhouse; fi
  02attach-volume:
    command: |
      TOKEN=`curl -X PUT "http://169.254.169.254/latest/api/token" -H "X-aws-ec2-metadata-token-ttl-seconds: 21600"`
      INSTANCE_ID=$(curl -H "X-aws-ec2-metadata-token: $TOKEN" http://169.254.169.254/latest/meta-data/instance-id)
      aws ec2 attach-volume --region us-west-2 --volume-id $VOLUME_ID --instance-id $INSTANCE_ID --device /dev/sdh
    ignoreErrors: true
  03wait:
    command: sleep 10
  04trymount:
    command: |
      mkdir -p /var/lib/docker/volumes/sentry-clickhouse
      mount /dev/sdh /var/lib/docker/volumes/sentry-clickhouse  
    ignoreErrors: true
  05format-if-not-already:
    command: if find /var/lib/docker/volumes/sentry-clickhouse/ -maxdepth 0 -empty | read v; then mkfs -t ext4 /dev/sdh; fi
  06load-env-vars:
    command: |
      export SENTRY_IMAGE=getsentry/sentry:23.12.1
      export $(cat .env | xargs)
