name: Enforce License Compliance

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  enforce-license-compliance:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v2

      - name: 'Run FOSSA Scan'
        uses: fossas/fossa-action@v1.1.0
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}

      - name: 'Run FOSSA Test'
        uses: fossas/fossa-action@v1.1.0
        with:
          api-key: ${{secrets.FOSSA_API_KEY}}
          run-tests: true
