name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (or "auto")
        required: false
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
  schedule:
    # We want the release to be at 10 or 11am Pacific Time
    # We also make this an hour after all others such as Sentry,
    # Snuba, and Relay to make sure their releases finish.
    - cron: "0 18 15 * *"
permissions:
  contents: read
jobs:
  release:
    if: github.repository_owner == 'getsentry'
    runs-on: ubuntu-latest
    name: "Release a new version"
    steps:
      - name: Get auth token
        id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.SENTRY_RELEASE_BOT_CLIENT_ID }}
          private-key: ${{ secrets.SENTRY_RELEASE_BOT_PRIVATE_KEY }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.token.outputs.token }}
          fetch-depth: 0
      - name: Prepare release
        id: prepare-release
        uses: getsentry/craft@63d1636bead951f6e034ed62c2a3610965fef010 # v2
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
        with:
          version: ${{ github.event.inputs.version }}
          force: ${{ github.event.inputs.force }}
          calver: true
    outputs:
      release-version: ${{ env.RELEASE_VERSION }}
  dogfood-release:
    if: github.repository_owner == 'getsentry'
    runs-on: ubuntu-latest
    name: Create release on self-hosted dogfood instance
    needs: release
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: getsentry/action-release@dab6548b3c03c4717878099e43782cf5be654289 # v3.5.0
        env:
          SENTRY_ORG: self-hosted
          SENTRY_PROJECT: installer
          SENTRY_URL: https://self-hosted.getsentry.net/
          SENTRY_AUTH_TOKEN: ${{ secrets.SELF_HOSTED_RELEASE_TOKEN }}
        with:
          environment: production
          version: ${{ needs.release.outputs.release-version }}
          ignore_empty: true
          ignore_missing: true
