name: Test
on:
  # Run CI on all pushes to the master and release/** branches, and on all new
  # pull requests, and on all pushes to pull requests (even if a pull request
  # is not against master).
  push:
    branches:
      - "master"
      - "releases/**"
  pull_request:
env:
  DOCKER_COMPOSE_VERSION: 1.24.1
defaults:
  run:
    shell: bash
jobs:
  test:
    strategy:
      # Only run one job at a time as they are quite demanding
      max-parallel: 1
      matrix:
        py2: ["", "1"]
    runs-on: ubuntu-18.04
    name: "test${{ matrix.py2 == '1' && ' PY2' || ''}}"
    steps:
      - name: Pin docker-compose
        run: |
          sudo rm /usr/local/bin/docker-compose
          curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
          chmod +x docker-compose
          sudo mv docker-compose /usr/local/bin

      - name: Checkout
        uses: actions/checkout@v2

      - name: Install and test
        env:
          SENTRY_PYTHON2: ${{ matrix.py2 == '1' || '' }}
        run: |
          ./install.sh
          ./test.sh
          printf "Testing in-place upgrade"
          ./install.sh --minimize-downtime
          ./test.sh

      - name: Inspect failure
        if: failure()
        run: |
          docker-compose ps
          docker-compose logs
