name: Test
on:
  # Run CI on all pushes to the master and release/** branches, and on all new
  # pull requests, and on all pushes to pull requests (even if a pull request
  # is not against master).
  push:
    branches:
      - "master"
      - "release/**"
  pull_request:
  schedule:
    - cron: "0 0,12 * * *"

concurrency:
  group: ${{ github.ref_name || github.sha }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash
jobs:
  unit-test:
    if: github.repository_owner == 'getsentry'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    name: ${{ matrix.os == 'ubuntu-24.04-arm' && 'unit tests (arm64)' || 'unit tests' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Compose
        uses: ./get-compose-action

      - name: Unit Tests
        run: ./unit-test.sh

  integration-test:
    if: github.repository_owner == 'getsentry'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    name: ${{ matrix.os == 'ubuntu-24.04-arm' && 'integration test (arm64)' || 'integration test' }}
    env:
      REPORT_SELF_HOSTED_ISSUES: 0
      SELF_HOSTED_TESTING_DSN: ${{ vars.SELF_HOSTED_TESTING_DSN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use action from local checkout
        uses: './'
        with:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
